@font-face {
  font-family: wallpoet;
  src: url(../fonts/wallpoet/Wallpoet-Regular.ttf);
}

#navbar{
  color: #fffc;
  background: #1E1E1E;
  padding: 15px 20px;

  /* possition */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  left: 0;

  /* display */
  display: flex;
  align-items: center;
  justify-content: space-between;

  #navbarContent{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    #logo{
      font-size: 26px;
      font-family: wallpoet;
    }

    #social{
      .menuLink{
        font-family: wallpoet;
      }

      a{
        margin: 0 0 0 10px;
        font-size: 18px;
        text-decoration: none;
        color: #fffc;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}

