#navbar{
  color: #fff;
  background: #1E1E1E;

  /* possition */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.name{
  padding: 5px 10px;
  color: #C0C0C0;
}

.menuLink{
  color: #C0C0C0;
  padding: 5px 10px;
}
