// Extra small
@xs-min: ~'(min-width: 500px)';
@xs-max: ~'(max-width: 499px)';

// Small
@sm-min: ~'(min-width: 800px)';
@sm-max: ~'(max-width: 799px)';

// Medium
@md-min: ~'(min-width: 1025px)';
@md-max: ~'(max-width: 1024px)';

// Large
@lg-min: ~'(min-width: 1200px)';
@lg-max: ~'(max-width: 1199px)';

// Extra large
@xl-min: ~'(min-width: 1920px)';
@xl-max: ~'(max-width: 1919px)';

@font-face {
  font-family: wallpoet;
  src: url(../fonts/wallpoet/Wallpoet-Regular.ttf);
}

#profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  background: #000000db;

  #profileContent{
    text-align: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .title{
      span{
        font-size: 26px;
        font-family: wallpoet;
        font-weight: 600;
        color: #fffc;
      }
    }
  }

  .img{
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      position: relative;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      background: transparent;
    }
  }

  @media @xs-max{
    flex-direction: column;

  }
  .bio{
    text-align: center;
  }
}
