// Extra small
@xs-min: ~'(min-width: 500px)';
@xs-max: ~'(max-width: 499px)';

// Small
@sm-min: ~'(min-width: 800px)';
@sm-max: ~'(max-width: 799px)';

// Medium
@md-min: ~'(min-width: 1025px)';
@md-max: ~'(max-width: 1024px)';

// Large
@lg-min: ~'(min-width: 1200px)';
@lg-max: ~'(max-width: 1199px)';

// Extra large
@xl-min: ~'(min-width: 1920px)';
@xl-max: ~'(max-width: 1919px)';

@font-face {
  font-family: wallpoet;
  src: url(../fonts/wallpoet/Wallpoet-Regular.ttf);
}

#profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  background: #000000db;
  padding: 56px 0 0;
  #profileContent{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 15px;
    .title{
      text-align: center;
      span{
        font-size: 26px;
        font-family: wallpoet;
        color: #fffc;
      }
    }

    #aboutBox{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @media @sm-max{
        flex-direction: column;
      }

      #boxImage{
        max-width: 180px;
        overflow: hidden;
        img{
          width: 100%;
        }
      }

      #about{
        @media @xs-max{
          // width: 50%;
          // margin: 0 0 0 auto;
        }
        #aboutTitle{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          color: #fffc;
          text-align: left;
          span{
            font-size: 22px;
            font-family: wallpoet;
            // font-weight: bold;
            letter-spacing: 2px;
            #enextLogo svg{
              width: 55px;
              position: relative;
              top: 12px;
              text-decoration: none;
              color: #fffc;
              outline: none;
            }
          }
        }
  
        #aboutDesc{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-align: left;
          color: #fffc;
          font-size: 16px;
          // font-weight: bold;
          font-family: monospace;
          padding: 0 0 0 30px;
  
          ul{
            margin: 10px 0 0 0;
            li{
              // list-style: none;
              padding: 5px 0 0;
            }
          }
        }
      }
    }


  }
}

#more{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  #moreCode{
    @media @xs-min{
      flex-direction: row-reverse;
    }
  }
  .more_box:last-child{
    margin-bottom: 0;
  }
  .more_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 840px;
    width: 100%;
    margin-bottom: 35px;
    @media @xs-max{
      flex-direction: column;
    }
    &_desc{
      text-align: center;
      font-size: 24px;
      font-family: wallpoet;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_image{
      max-width: 320px;
    }
  }
}



